* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.price {
  color: #EF5B70;
}

.text-color {
  color: #F16D7F;
}

.btn {
  cursor: pointer;
  padding: 15px 40px;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  border: none;
}

.btn-pink {
  color: #F26376;
  border: 1px solid #FF6A6A;
}

.btn-pink:hover {
  color: #FFFFFF;
  background: #F26376;
}

.btn-grey {
  color: #000000;
  border: 1px solid #A4A4A4;
}

.btn-pink-fill {
  background-color: #F16D7F;
  color: white;
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }
}

.header {
  background-color: #222222;
  padding: 19px 0;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo--margin {
  margin-right: 41px;
}

.header__toolbar:not(:last-child) {
  margin-right: 33px;
}

@media (max-width: 1024px) {
  .header {
    padding: 19px 32px;
  }
}

@media (max-width: 667px) {
  .header__box {
    padding: 19px 16px;
  }
  .header__toolbar:not(:first-child) {
    display: none;
  }
  .header__toolbar:first-child {
    margin: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.price {
  color: #EF5B70;
}

.text-color {
  color: #F16D7F;
}

.btn {
  cursor: pointer;
  padding: 15px 40px;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  border: none;
}

.btn-pink {
  color: #F26376;
  border: 1px solid #FF6A6A;
}

.btn-pink:hover {
  color: #FFFFFF;
  background: #F26376;
}

.btn-grey {
  color: #000000;
  border: 1px solid #A4A4A4;
}

.btn-pink-fill {
  background-color: #F16D7F;
  color: white;
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }
}

.title-path {
  background: #F8F3F4;
  padding: 60px 0;
}

.title-path__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-path h1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.title-path p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.price {
  color: #EF5B70;
}

.text-color {
  color: #F16D7F;
}

.btn {
  cursor: pointer;
  padding: 15px 40px;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  border: none;
}

.btn-pink {
  color: #F26376;
  border: 1px solid #FF6A6A;
}

.btn-pink:hover {
  color: #FFFFFF;
  background: #F26376;
}

.btn-grey {
  color: #000000;
  border: 1px solid #A4A4A4;
}

.btn-pink-fill {
  background-color: #F16D7F;
  color: white;
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }
}

.subscribe {
  height: 448px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url("../images/subscribe_bg.png");
  background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../images/subscribe_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
}

.subscribe__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__info {
  max-width: 360px;
  text-align: center;
}

.subscribe__info p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__form {
  min-width: 557px;
  text-align: center;
}

.subscribe__form h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__form p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125.4%;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.subscribe__form__email {
  width: 256px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  padding-left: 22px;
}

.subscribe__form__email::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

.subscribe__form__email:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -ms-flex-align: center;
      align-items: center;
  color: #222224;
  opacity: 0.67;
}

.subscribe__form__email::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -ms-flex-align: center;
      align-items: center;
  color: #222224;
  opacity: 0.67;
}

.subscribe__form__email::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

.subscribe__form__email:focus {
  outline: none;
}

.subscribe__form__submit {
  width: 100px;
  height: 49px;
  background: #F16D7F;
  border: none;
  border-radius: 0 25px 25px 0;
  margin-left: -4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .subscribe {
    height: 693px;
  }
  .subscribe__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__info {
    margin-top: 64px;
  }
  .subscribe__form {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 48px;
  }
  .subscribe__form p {
    margin-bottom: 27px;
  }
}

@media (max-width: 667px) {
  .subscribe {
    height: 550px;
  }
  .subscribe__info p {
    font-size: 18px;
    line-height: 22px;
  }
  .subscribe__form {
    min-width: 1px;
    margin-top: 60px;
  }
  .subscribe__form h2 {
    font-size: 24px;
    line-height: 153.2%;
  }
  .subscribe__form p {
    font-size: 14px;
    line-height: 89.4%;
    margin-bottom: 22px;
  }
  .subscribe__form__email {
    width: 230px;
  }
  .subscribe__form__submit {
    width: 96px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.price {
  color: #EF5B70;
}

.text-color {
  color: #F16D7F;
}

.btn {
  cursor: pointer;
  padding: 15px 40px;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  border: none;
}

.btn-pink {
  color: #F26376;
  border: 1px solid #FF6A6A;
}

.btn-pink:hover {
  color: #FFFFFF;
  background: #F26376;
}

.btn-grey {
  color: #000000;
  border: 1px solid #A4A4A4;
}

.btn-pink-fill {
  background-color: #F16D7F;
  color: white;
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }
}

.footer {
  background: #222224;
  padding: 30px 0;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social__link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  background-color: #ffffff;
  padding: 8px;
  width: 31.45px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__social__link:not(:last-child) {
  margin-right: 8px;
}

.footer__social__link:hover {
  color: #fff;
  background-color: #F16D7F;
}

@media (max-width: 1024px) {
  .footer__box {
    margin: 0 32px;
  }
}

@media (max-width: 667px) {
  .footer {
    height: 143px;
    padding-top: 43px;
    padding-bottom: 9px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__products__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 652px;
  max-height: 306px;
  -webkit-box-shadow: 17px 19px 24px rgba(39, 2, 2, 0.13);
          box-shadow: 17px 19px 24px rgba(39, 2, 2, 0.13);
}

.cart__products__card:not(:nth-last-child(-n+2)) {
  margin-bottom: 40px;
}

.cart__products__card img {
  height: 100%;
  width: auto;
}

.cart__products__card__info {
  margin-top: 22px;
  margin-left: 31px;
  max-width: 210px;
}

.cart__products__card__info h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.cart__products__card__info p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.cart__products__card__info label {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__products__card__info input {
  height: 25px;
  width: 44px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
}

.cart__products__card__close {
  margin: 28px 22px 0 auto;
  font-size: 24px;
}

.cart__products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.cart__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__order__shipping {
  width: 360px;
}

.cart__order__shipping h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart__order__shipping input {
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  background-color: white;
}

.cart__order__shipping input[type='text'] {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  padding: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  color: #B1B1B1;
}

.cart__order__shipping input[type='text']::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  padding: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-left: 0;
  color: #222222;
}

.cart__order__shipping input[type='text']:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  padding: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-left: 0;
  color: #222222;
}

.cart__order__shipping input[type='text']::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  padding: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-left: 0;
  color: #222222;
}

.cart__order__shipping input[type='text']::placeholder {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  padding: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-left: 0;
  color: #222222;
}

.cart__order__shipping input[type='text']:focus {
  outline: none;
}

.cart__order__shipping input[type='button'] {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding: 10px 15px;
}

.cart__order__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-color: #F5F3F3;
  margin-top: 57px;
  padding: 40px;
}

.cart__order__submit__sub {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}

.cart__order__submit__sub span {
  margin-left: 20px;
}

.cart__order__submit__grand {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart__order__submit__grand span {
  margin-left: 20px;
}

.cart__order__submit__divider {
  margin: 20px 0;
  width: 100%;
  border-top: 1px solid #E2E2E2;
}

.cart__order__submit input {
  width: 100%;
}
/*# sourceMappingURL=cart.css.map */