.header {
    background-color: #222222;
    padding: 19px 0;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo--margin {
        margin-right: 41px;
    }
    &__toolbar {
        &:not(:last-child) {
            margin-right: 33px;
        }
    }
}
