.header {
    background-color: #222222;
    padding: 19px 0;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo--margin {
        margin-right: 41px;
    }
    &__toolbar {
        &:not(:last-child) {
            margin-right: 33px;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 19px 32px;
    }
}
@media (max-width: 667px) {
    .header {
        &__box {
            padding: 19px 16px;
        }
        &__toolbar {
            &:not(:first-child) {
                display: none;
            }
            &:first-child {
                margin: 0;
            }
        }
    }
}